.cancel{
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 4px 15px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.cancel:hover{
  background-color: #000;
  color: #fff;
}

.delete-btn{
  color: #fff;
  background-color: red;
  border-radius: 6px;
  padding: 4px 15px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}