.cancel{
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 4px 15px;
  cursor: pointer;
  transition: ;
}

.cancel:hover{
  background-color: #000;
  color: #fff;
}